@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;700 & family= Montserrat+Alternates:wght@100;200;300;400;500; 600 &família= Open+Sans:wght@300;400;500;600;700 & display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Framework */

html,
body {
  height: 100%;
}

.max-width {
  width: 100%;
  min-height: auto;
}

.bg {
  background: url('../image/bg-2.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.bg2 {
  background: url('../image/bg-2.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.container {
  max-width: 105rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}
.titulo {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
  text-shadow: 0 0 10px #545454;
  color: #2b2b2b;
}

.line {
  width: 80%;
  height: 2px;
  background: #17203f;
  position: relative;
  top: 40px;
}

.text-titulo {
  position: relative;
  top: -10px;
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  width: 200px;
  background: #8b634a;
  color: #fff;
}
.logo {
  background: url(../image/logo-roupa.png) no-repeat;
  background-size: contain;
  width: 8.125rem;
  height: 5rem;
  position: relative;
  top: 1.25rem;
  z-index: 9;
}
.menu {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  background: #c3bcb7;
}
.call {
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
  margin-left: 2rem;
}
.left,
.right {
  width: 50%;
  min-height: 37.5rem;
  min-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
}
.box {
  width: 20%;
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2%;
  transition: 0.5s ease;
}
img {
  width: 50%;
  object-fit: contain;
}
button {
  padding: 0.625rem 1.25rem;
  background: #1b3b56;
  color: #fff;
  font-size: 0.85em;
  border: none;
  cursor: pointer;
  transition: 0.8s ease;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
button:hover {
  border: 1px solid #8b634a;
  background: #8b634a;
  color: #fff;
  transform: scale(1.1);
}
.text-pq {
  font-size: 1.25em;
}
.text-md {
  font-size: 2.5em;
}
.text-gd {
  font-size: 4.5em;
}
.text-title {
  font-size: 1.25em;
  font-weight: 600;
}
.color-azul {
  color: #1b3b56;
}
.color-azul-1 {
  color: #5271ff;
}
.color-cinza-2 {
  color: #545454;
}
#back-to-top {
  position: fixed;
  bottom: 2px;
  right: 10px;
  padding: 5px, 10px;
  background: #8b634a;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid #fff;
}
/* DESKTOP-MENU */
.desktop-menu ul {
  display: flex;
}
.desktop-menu ul li {
  padding: 0 1.5rem;
  list-style: none;
}
.desktop-menu ul li a {
  color: #17203f;
  text-shadow: 0 0 0.3rem #848790;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: 0.8s ease;
}
.desktop-menu ul li a:hover {
  color: #8b634a;
  text-shadow: 0 0 0.3rem;
  font-weight: 400;
  text-decoration: underline;
}
/* Mobile-menu */
.mobile-menu {
  width: 90%;
  height: auto;
  position: absolute;
  top: 0.6rem;
  background: #c3bcb7;
  display: none;
}
.mobile-menu i {
  position: absolute;
  right: 1.5rem;
  top: 0.625rem;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}
.mobile-menu ul {
  display: block;
  text-align: center;
}
.mobile-menu ul li {
  list-style-type: none;
  padding: 10px 0;
}
.mobile-menu ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #17203f;
  text-shadow: 0 0 5px #848790;
}
.mobile-menu ul li a:hover {
  color: #8b634a;
  text-shadow: 0 0 5px #8b634a;
  font-weight: 500;
  text-decoration: underline;
}
/* HEADER */
header .container {
  flex-direction: column;
  justify-content: flex-start;
}

/*ALINHANDO ITENS */
header .left {
  flex-direction: column;
  align-items: flex-start;
}
header .left h1 {
  text-align: start;
  font-weight: 400;
  text-shadow: 0 0 0.5rem #848790;
  padding: 0 2.5rem;
}
header .left p {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  text-align: start;
  letter-spacing: 2px;
  text-shadow: 0 0 0.5rem #848790;
  margin-top: 3.125rem;
  padding: 0 2.5rem;
}
header button {
  margin-top: 3.75rem;
  margin-left: 2.5rem;
}
header .right .imagem {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 1s ease;
}
header .right .imagem img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 3.75rem;
}
/* RESPONSIVO */
@media screen and (max-width: 57.75rem) {
  .text-pq {
    font-size: 0.8em;
  }
  .text-md {
    font-size: 1.6em;
  }
  .text-gd {
    font-size: 3.5em;
  }
  .call {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 46.25rem) {
  header .right .imagem {
    width: 100%;
  }
  .mobile-menu {
    display: block;
  }

  .desktop-menu ul {
    display: none;
  }
  .call {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 40rem) {
  .left {
    width: 100%;
    min-height: auto;
    padding: 0 2%;
  }
  .right {
    width: 100%;
    min-height: auto;
    padding: 0 2%;
    margin-top: -4rem;
  }
  .logo {
    width: 7rem;
    top: 0.625rem;
    left: 5px;
  }
  img {
    width: 90%;
  }
  .call {
    flex-direction: column;
    justify-content: flex-start;
  }
  header .right .imagem {
    width: 60%;
  }
  header .left {
    margin-top: -6.25rem;
  }
}
@media screen and (max-width: 26.75rem) {
  header .right .imagem {
    width: 70%;
  }
}
